---
layout: layout
---

<% @title = item.name %>
<% @description = item.description %>

<div class="mt-6 mb-24 px-8 md:px-32 mx-auto max-w-screen-xl">
  <a href="#" onclick="back('/')" class="flex items-center gap-1 mb-4">
    <%= inline_svg 'icons/angle-left.svg' %> Back
  </a>

  <span><%= item.category %></span>
  <h1><%= @title %></h1>

  <div class="image-gallery">
    <% item.images.each do |img| %>
      <%= image_tag img %>
    <% end if item.images %>
  </div>

  <p><%= render_tags(item.tags) %></p>

  <div class="text-gray-500"><%= @description %></div>

  <div class="my-6">
    <% rest_of_attrs(item).each do |attribute| %>
      <% value = item[attribute] %>
      <p>
        <b><%= attribute.titleize %></b>
        <span class="text-gray-500">
          <% if value.is_a?(Array) %>
            <%= render_tags(value) %>
          <% elsif is_bool?(value) %>
            <%= value ? "Yes" : "No" %>
          <% elsif value.is_a?(String) && is_url?(value) %>
            <% if embed_url = video_embed_url(value) %>
              <div class="max-w-2xl">
                <iframe class="w-full aspect-video" src="<%= embed_url %>" frameborder="0" allowfullscreen></iframe>
              </div>
            <% else %>
              <%= link_to value, value, target: "_blank" %>
            <% end %>
          <% elsif value.is_a?(String) && is_email?(value) %>
            <%= mail_to value %>
          <% elsif is_hash?(value) %>
            <%= render_hash(value) %>
          <% else %>
            <%= value %>
          <% end %>
        </span>
      </p>
    <% end %>
  </div>
</div>
