<!DOCTYPE html>
<html>
  <head>
    <title><%= data.config.title %> | <%= @title || current_page.data.title %></title>
    <meta name="description" content="<%= @description || data.config.description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application" %>
    <% if data.config.font_family %>
      <link href="https://fonts.googleapis.com/css2?family=<%= data.config.font_family %>&display=swap" rel="stylesheet">
    <% end %>
    <style>
      :root {
        --main-color: <%= data.config.main_color || Tonic::DEFAULT_COLOR %>;
        --font-family: <%= data.config.font_family %>;
      }
    </style>
  </head>
  <body>
    <%= partial 'templates/header' %>
    <%= yield %>
    <%= partial 'templates/footer' %>

    <%= javascript_include_tag "application" %>
    <script>
      window.collection = JSON.parse('<%= tonic_collection.to_json %>');
      window.config = JSON.parse('<%= data.config.to_json %>');
    </script>
  </body>
</html>
