<!DOCTYPE html>
<html>
  <head>
    <title><%= config.title %> | <%= @title || current_page.data.title %></title>
    <meta name="description" content="<%= strip_truncate(@description || config.description, 100) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application" %>
    <% if config.font_family %>
      <link href="https://fonts.googleapis.com/css2?family=<%= config.font_family %>&display=swap" rel="stylesheet">
    <% end %>
    <style>
      :root {
        --main-color: <%= config.main_color || Tonic::DEFAULT_COLOR %>;
        --font-family: <%= config.font_family %>;
      }
    </style>
  </head>
  <body>
    <%= partial 'templates/layout/header' %>
    <%= yield %>
    <%= partial 'templates/layout/footer' %>

    <%= javascript_include_tag "application" %>
    <script>
      window.collection = JSON.parse(JSON.stringify(<%= tonic_collection.to_json %>));
      window.config = JSON.parse(JSON.stringify(<%= config.to_json %>));
    </script>
  </body>
</html>
