<!DOCTYPE html>
<html>
  <head>
    <title><%= data.config.title %> - <%= @title || current_page.data.title %></title>
    <meta name="description" content="<%= data.config.description %>" />
    <%= stylesheet_link_tag "application" %>
    <style>
      :root {
        --main-color: <%= data.config.main_color || "#1d4ed8" %>;
      }
    </style>
  </head>
  <body>
    <%= partial 'templates/header' %>
    <%= yield %>
    <%= partial 'templates/footer' %>

    <%= javascript_include_tag "application" %>
    <script>
      window.collection = JSON.parse('<%= tonic_collection.to_json %>');
      window.config = JSON.parse('<%= data.config.to_json %>');
    </script>
  </body>
</html>
