---
title: Home
---

<div class="flex">
  <%= partial "templates/sidebar" unless data.config.hide_filters %>

  <div class="p-8 mb-12 w-full">
    <div class="mb-4">
      <h1><%= data.config.title %></h1>
      <%= data.config.description %>
    </div>

    <div class="relative">
      <div class="flex absolute inset-y-0 left-0 items-center pl-3">
        <%= inline_svg 'icons/search.svg' %>
      </div>
      <input type="text" name="global" placeholder="Search ..." class="p-3 pl-10 text-sm" onkeyup="filterBy('global_text')">
    </div>

    <div class="flex justify-between items-center">
      <div class="text-sm text-gray-600"><span id="counter"><%= tonic_collection.size %></span> items found</div>

      <% unless data.config.hide_sorting %>
        <div class="relative inline-block text-left">
          <a href="#" onclick="toggleSorting()">
            Sort by <%= inline_svg 'icons/angle-down.svg' %>
          </a>

          <div class="absolute right-0 z-10 w-48 rounded bg-white shadow-lg hidden sorting-options">
            <% sorting_options.each do |option| %>
              <a href="#" class="block px-4 py-2 text-sm" onclick="sortBy('<%= option.downcase %>')"><%= option %></a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="mt-4 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 items-container">
      <% tonic_collection.each do |item| %>
        <%= partial 'templates/collection/item_card', locals: { item: item } %>
      <% end %>
    </div>
  </div>
</div>
