---
title: Tonic
---
<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout__header-row">
    <div class="welcome">
      <h1>Tonic</h1>
    </div>
  </div>
  <div class="mdl-layout__tab-bar-container">
    <div class="mdl-layout__tab-bar-button mdl-layout__tab-bar-left-button"><i class="material-icons">chevron_left</i></div>
    <div class="mdl-layout__tab-bar mdl-color--primary-dark">
      <a class="mdl-button mdl-js-button mdl-button--raised mdl-layout__tab all" onclick="tags.filter('all')">all</a>
      <% data.collection.flat_map(&:tags).uniq.each do |tag| %>
        <a class="mdl-button mdl-js-button mdl-layout__tab <%= "#{tag}" %>" onclick="tags.filter('<%= "#{tag}" %>')"><%= "#{tag}" %></a>
      <% end %>
      <div class="mdl-layout-spacer"></div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" onclick="document.getElementById('fixed-header-drawer-exp').focus()">
        <i class="material-icons" role="presentation">search</i>
        <span class="hidden">Search</span>
      </button>
      <hr/>
    </div>
    <div class="mdl-layout__tab-bar-button mdl-layout__tab-bar-right-button"><i class="material-icons">chevron_right</i></div>
  </div>
</header>

<main class="mdl-grid">
<% data.collection.each do |item| %>
  <article class="mdl-cell mdl-card all <%= item.tags.join(" ") %>" data-name="<%= item.name %>" data-description="<%= item.description %>">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><%= link_to item.name, item.link %></h2>
    </div>
    <div class="mdl-card__supporting-text">
      <%= item.description %>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <% item.tags.each do |tag| %>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="tags.filter('<%= "#{tag}" %>')"><%= "##{tag}" %></a>
      <% end %>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--colored mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">link</i>
      </button>
    </div>
  </article>
<% end %>
</main>

<aside>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
              mdl-textfield--floating-label mdl-textfield--align-right">
    <label class="mdl-button mdl-js-button mdl-button--icon"
           for="fixed-header-drawer-exp">
      <i class="material-icons" onclick="search()">search</i>
    </label>
    <div class="_mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" name="sample"
             id="fixed-header-drawer-exp" placeholder="Search...">
    </div>
  </div>
</aside>
<footer></footer>
